<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>web-hotel</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomInfoListServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomInfoListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomInfoAdd</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomInfoAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomInfoAddServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomInfoAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomTypeAddServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomTypeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomTypeListServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomTypeListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserOneServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.UserOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomInfoUpdateServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomInfoOneServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomInfoOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomInfoDeleteServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomInfoDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomTypeOneServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomTypeOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomTypeUpdateServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomTypeUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomTypeDeleteServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.RoomTypeDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerAddServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.CustomerAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerListServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.CustomerListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerOneServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.CustomerOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.CustomerUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <servlet-class>com.helloworld.servlet.admin.CustomerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomInfoListServlet</servlet-name>
    <url-pattern>/RoomInfoListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomInfoAdd</servlet-name>
    <url-pattern>/RoomInfoAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomInfoAddServlet</servlet-name>
    <url-pattern>/RoomInfoAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomTypeAddServlet</servlet-name>
    <url-pattern>/RoomTypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomTypeListServlet</servlet-name>
    <url-pattern>/RoomTypeListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserOneServlet</servlet-name>
    <url-pattern>/UserOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomInfoUpdateServlet</servlet-name>
    <url-pattern>/RoomInfoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomInfoOneServlet</servlet-name>
    <url-pattern>/RoomInfoOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomInfoDeleteServlet</servlet-name>
    <url-pattern>/RoomInfoDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomTypeOneServlet</servlet-name>
    <url-pattern>/RoomTypeOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomTypeUpdateServlet</servlet-name>
    <url-pattern>/RoomTypeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomTypeDeleteServlet</servlet-name>
    <url-pattern>/RoomTypeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerAddServlet</servlet-name>
    <url-pattern>/CustomerAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerListServlet</servlet-name>
    <url-pattern>/CustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerOneServlet</servlet-name>
    <url-pattern>/CustomerOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <url-pattern>/CustomerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <url-pattern>/CustomerDeleteServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>